<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../CSS/aboutUs.css" </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<body>
    <section class="sec1">
        <div class="container">
            <h2 class="mainTitle">Get to Know Us!</h2>
            <div class="content">
                <div class="image">
                    <img src="images/aboutUs1.jpg" alt="">
                </div>
                <div class="textBox">
                    <h3>lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam culpa officia id quo quis
                        nobis modi excepturi dolorum omnis sint dolorem, quaerat temporibus totam, quidem error quam
                        unde iure!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec2">
        <div class="container">
            <h3 class="sectionTitle">Lorem Ipsum</h3>
            <div class="image">
                <img src="images/aboutUs2.jpg" alt="">
            </div>
            <div class="info">
                <h4 class="infoTitle">Our Story</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nobis aliquid, accusantium eveniet
                    adipisci praesentium? Totam, vero! Officia iusto minima id dolorem impedit quaerat nisi. Et iusto
                    quam doloribus ipsa.</p>
            </div>
        </div>
    </section>
</body>

</html>