<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JaduBook</title>
    <link rel="stylesheet" href="../CSS/landingPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <a href="" class="brand">JaduBook</a>
        <div class="menuButton"></div>
        <div class="navigation">
            <div class="navigationItems">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Explore</a>
                <a href="">Login/Register</a>
            </div>
        </div>
    </header>

    <section class="home">
        <video class="videoSlide active" src="images/1.mp4" autoplay muted loop></video>
        <video class="videoSlide active" src="images/2.mp4" autoplay muted loop></video>

        <div class="content active">
            <h1>JaduBook</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, atque eligendi, nisi quibusdam eaque
                possimus deleniti fuga eveniet labore quia ullam ad hic tempore libero, ab voluptate sint consequuntur
                corporis dolore? Error aspernatur quod distinctio totam, quisquam necessitatibus repellat perferendis
                sapiente adipisci optio fugiat facere animi qui modi accusamus obcaecati blanditiis dolorum nemo ipsa!
                Dolorum laboriosam vel optio laudantium incidunt dolor ducimus perspiciatis quod soluta odit. Fugit
                quisquam magni assumenda unde eum iure excepturi deleniti modi ducimus eos accusamus labore delectus
                ipsum impedit aut tenetur sit, doloremque officiis. Soluta iusto repellendus id adipisci. Modi, quis
                nemo velit officia neque maxime!</p>
            <a href="">Read More</a> <!-- Ekhane basically about us ke redirect kore dibo-->
        </div>

        <div class="content">
            <h1>Explore</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi molestias iste dicta vel quam ratione
                dolor omnis et maiores totam, mollitia at accusamus odit cumque magnam? Officiis qui corporis nemo
                minima maxime? Molestiae et delectus incidunt nobis corporis! Culpa autem iusto nisi est earum, neque
                odit laboriosam, excepturi quis numquam eum labore impedit praesentium minima perferendis similique
                provident optio, repudiandae eaque quod! Libero, magni a tempore officia, maiores dolore mollitia est
                quasi nesciunt eius excepturi debitis facere voluptates quaerat pariatur possimus? Quae quo nulla
                ducimus error tenetur praesentium deleniti, nesciunt similique blanditiis earum iusto ipsam est impedit
                odit exercitationem facilis!</p>
            <a href="">Read More</a>
        </div>

        <div class="mediaIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>

        <div class="sliderNavigation">
            <div class="navButton active"></div>
            <div class="navButton"></div>
            <div class="navButton"></div>
            <div class="navButton"></div>
        </div>
    </section>
</body>

</html>